
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Şifremi Unutttum</h2>
@ViewBag.Message
<br>
<br>
<form method="post" asp-controller="User" asp-action="ForgotPassword">
    <div class="mb-3">
        <input type="text" class="form-control align-self-center" id="email" placeholder="Email Adresinizi Giriniz" name="email">
    </div>

    <div class="mb-3">
        <button type="submit" style="width:150px" class="btn btn-primary d-flex justify-content-center">Şifremi Gönder</button>
    </div>
</form>



