
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="d-flex justify-content-center"> <h2>Admin Kullanıcı Girişi</h2> </div>
<br />
<div class="col-xs-4"></div>
<div class="d-flex justify-content-center">
    <form method="post" asp-controller="AdminLogin" asp-action="Index">
        <div class="col-xs-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="kname">
            </div>
            <br />
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Parola" name="kpass">
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" style="width:280px;">Giriş</button>&nbsp;
            </div>
        </div>
    </form>
</div>
<br/>
<div class="d-flex justify-content-center">
    @ViewBag.Error
</div>

