
@{
    ViewBag.Title = "Index";
}
<br>
<div class="d-flex justify-content-center"> <h2>Kullanıcı Girişi</h2> </div>

@ViewBag.Message
@ViewBag.Success
<div class="d-flex justify-content-center">@Session["Success"]</div>

<div class="col-xs-4"></div>
<div class="d-flex justify-content-center">
    <form method="post" asp-controller="Login" asp-action="Index">
        <div class="col-xs-4">
            <div class="form-group">
                <input type="text" required class="form-control" id="kadi" placeholder="Kullanıcı Adı" name="kadi" >
            </div>
            <br />
            <div class="form-group">
                <input type="password" required class="form-control" id="ksifre" placeholder="Parola" name="ksifre">
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success col-xs-4" style="width: 134px;">Giriş</button>&nbsp;
                <a href="/User/ForgotPassword" class="btn btn-warning col-xs-2" style="width: initial; width: 142px;">Şifremi Unuttum</a>
            </div>
        </div>
    </form>
</div>
<div class="col-xs-4"></div>
<hr />
<div class="d-flex justify-content-center">
    <a class="btn btn-primary" style="width:150px" href="/User/Index">Kayıt Ol</a>
</div>
